:root {
    --color-yellow-500: #F1D37D;
    --color-blue-50: #F4F7FB;
    --color-blue-200: #E2E8F0;
    --color-blue-500: #618BC9;
    --color-blue-700: #3E518C;
    --color-blue-900: #102347;
    --color-grey-100: #EDEDED;
    --color-grey-200: #D9D9D9;
    --color-grey-500: #646464;
    --color-grey-900: #222;

    --color-primary: var(--color-yellow-500);
    --color-secondary-background: var(--color-blue-50);
    --color-secondary: var(--color-blue-500);
    --color-border: var(--color-grey-200);
    --color-bodytext: var(--color-grey-900);

    --font-family-body: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    --font-family-accent: "Rubik", sans-serif;

    --fontsize-xnano: 10px;
    --fontsize-nano: 11px;
    --fontsize-micro: 12px;
    --fontsize-small: 14px;
    --fontsize-base: 16px;
    --fontsize-medium: 18px;
    --fontsize-large: 20px;
    --fontsize-xlarge: 24px;
    --fontsize-2xlarge: 28px;
    --fontsize-3xlarge: 32px;
    --fontsize-4xlarge: 40px;

    --textsize-heading-pc: var(--fontsize-4xlarge);
    --textsize-heading-sp: var(--fontsize-xlarge);

    --line-height-small: 1.2;
    --line-height-base: 1.4;
    --line-height-medium: 1.8;

    --spacing-nano: 4px;
    --spacing-micro: 8px;
    --spacing-small: 12px;
    --spacing-base: 16px;
    --spacing-medium: 20px;
    --spacing-large: 24px;
    --spacing-xlarge: 32px;
    --spacing-2xlarge: 40px;
    --spacing-3xlarge: 48px;
    --spacing-4xlarge: 64px;
    --spacing-5xlarge: 80px;

    --border-radius-s: var(--spacing-micro);
    --border-radius-l: var(--spacing-4xlarge);

    --side-padding-sp: var(--spacing-base);
    --side-padding-tab: var(--spacing-2xlarge);
}


body {
    box-sizing: border-box;
    font-family: var(--font-family-body);
    line-height: var(--line-height-base);
    color: var(--color-bodytext);
}


.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents-container--nospacing {
    width: 100%;
}

.section-heading {
    text-align: center;
    color: var(--color-blue-900);
}

.background-color--light {
    background-color: var(--color-secondary-background);
}

.button {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 var(--spacing-medium);
    border-radius: var(--border-radius-l);
    font-size: var(--fontsize-base);
    font-weight: 700;
    text-decoration: none;
}

.button--primary {
    background-color: var(--color-primary);
    color: var(--color-blue-900);
}


/* 
===================================  ヘッダー  ===================================
*/
.section-header {
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    padding: var(--spacing-medium) var(--spacing-2xlarge);
}

.section-header .logo {
    height: 32px;
}



/* 
===================================  メインビジュアル  ===================================
*/
.section-hero {
    height: 600px;
    width: 100%;
    background-color: var(--color-secondary);
}



/* 
===================================  お悩み  ===================================
*/
.problems-container {
    width: 100%;
    display: flex;
    gap: var(--spacing-large);
}

.problems-item {
    width: calc(33.33% - var(--spacing-large));
    height: 100px;
    padding: var(--spacing-medium);
    border-radius: var(--border-radius-s);
    list-style: none;

    background-color: var(--color-blue-200);
    color: var(--color-bodytext);
    font-size: var(--fontsize-medium);
}


/* 
===================================  機能一覧 ===================================
*/
.functions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.function-item {
    display: flex;
    gap: var(--spacing-base);
    align-items: center;
}
.function-item__text {
    font-weight: 500;
}


/* 
===================================  ユーザーの声  ===================================
*/
.users-voice-container {
    overflow-x: scroll;
    width: 100%;
}

.users-voice-itemwrapper {
    display: flex;
    justify-content: flex-start;
    flex: row wrap;
    gap: var(--spacing-base);
    width: min-content;
}

.user-voice-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-base);
    border-radius: var(--border-radius-s);
    background-color: #fff;
}

.user-voice-userprofile {
    display: flex;
    gap: var(--spacing-micro);
}

.user-voice-userprofile__text {
    font-size: var(--fontsize-small);
    font-weight: 500;
}


/* 
===================================  プライバシー  ===================================
*/
.security-container {
    display: flex;
    gap: var(--spacing-xlarge);
}

.security-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-s);
    border: 1px solid var(--color-border);
}


/* 
===================================  プラン  ===================================
*/
.switchbox {
    border-radius: var(--border-radius-l);
    border: 1px solid #fff;
}
.switchbox__flag {
    display: none;
}
.switchbox__label {
    display: inline-block;
    cursor: pointer;
    border-radius: var(--border-radius-l);
    padding: var(--spacing-nano) var(--spacing-base);
    color: #fff;
    font-size: var(--fontsize-small);
    font-weight: 700;
}
.switchbox__flag:checked + .switchbox__label {
    background-color: #fff;
    color: var(--color-secondary);
}

.plan-container {
    display: flex;
}

.plan-item {
    overflow: hidden;
    border-radius: var(--border-radius-s);
}

.plan-item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: var(--spacing-medium);
    gap: var(--spacing-micro);
    font-weight: 700;
}

.plan-item-title-inner {
    display: none;
    gap: var(--spacing-base);
}

.plan-item-title--secondary {
    background-color: var(--color-secondary);
    color: #fff;
}
.plan-item-title--normal {
    background-color: var(--color-grey-200);
    color: var(--color-blue-900);
}

.plan-item-title__text {
    font-size: var(--fontsize-large);
}
.plan-item-title__largetext {
    font-size: var(--fontsize-3xlarge);
}

.plan-item-function {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-base);
    gap: var(--spacing-small);
    background-color: #fff;
}
.plan-item-function__text {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}
.plan-item-function__text::before {
    content: url('../img/icon_check.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
}

.plan-item-trial {
    padding: var(--spacing-base);
    padding-top: 0;
    background-color: #fff;
}


/* 
===================================  FAQ  ===================================
*/
.faq-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.faq-item {
    border-radius: var(--border-radius-s);
    padding: var(--spacing-large);
    background-color: var(--color-secondary-background);
}

.faq-question {
    display: flex;
    cursor: pointer;
    gap: var(--spacing-base);
    font-size: var(--fontsize-base);
    font-weight: 700;
}
.faq-item[open] .faq-question {
    padding-bottom: var(--spacing-base);
    border-bottom: 1px solid var(--color-border);
    line-height: var(--line-height-small);
}

.faq-question::-webkit-details-marker {
    display: block;
}

.faq-question::before {
    content: "Q.";
    font-size: var(--fontsize-xlarge);
    font-family: var(--font-family-accent);
    font-weight: 600;
    line-height: 28px;
    color: var(--color-secondary);
}

.faq-answer {
    display: flex;
    gap: var(--spacing-base);
    padding-top: var(--spacing-base);
    font-size: var(--fontsize-base);
    line-height: var(--line-height-base);
}

.faq-answer::before {
    content: "A.";
    font-size: var(--fontsize-xlarge);
    font-family: var(--font-family-accent);
    font-weight: 600;
    line-height: 28px;
    color: var(--color-primary);
}

.faq-question__text, .faq-answer__text {
    min-height: 28px;
    vertical-align: middle;
    line-height: 28px;
}




@media screen and (max-width: 600px) {
    
    body {
        font-size: var(--fontsize-base);
    }

    .section-heading {
        font-size: var(--textsize-heading-sp);
    }

    .contents-container {
        gap: var(--spacing-large);
        padding-top: var(--spacing-2xlarge);
        padding-bottom: var(--spacing-2xlarge);
    }
    .contents-container--spacing {
        width: calc(100% - var(--side-padding-sp) * 2);
        padding-right: var(--side-padding-sp);
        padding-left: var(--side-padding-sp);
    }

    /* ユーザーの声 */
    .users-voice-itemwrapper {
        padding: 0 var(--side-padding-sp);
    }
    .user-voice-item {
        min-width: 260px;
        height: 210px;
    }
    .user-voice-item__bodytext {
        font-size: var(--fontsize-small);
    }

    /* 機能一覧 */
    .functions-container {
        gap: var(--spacing-base);
    }
    .function-item {
        min-width: calc(100% - var(--side-padding-sp));
    }
    .function-item__icon {
        width: 48px;
        height: 48px;
    }

    /* プライバシー */
    .security-container {
        flex-direction: column;
        gap: var(--spacing-base);
    }
    .security-item {
        width: calc(100% - var(--side-padding-sp) * 2);
        padding: var(--spacing-base);
        gap: var(--spacing-base);
    }
    .security-item__image {
        width: 80px;
        height: 80px;
    }

    /* プラン */
    .plan-container {
        flex-direction: column;
        gap: var(--spacing-large);
    }
    .plan-item {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1080px) {
    
    body {
        font-size: var(--fontsize-medium);
    }

    .section-heading {
        font-size: var(--textsize-heading-pc);
    }

    .contents-container {
        gap: var(--spacing-2xlarge);
        padding-top: var(--spacing-2xlarge);
        padding-bottom: var(--spacing-2xlarge);
    }
    .contents-container--spacing {
        width: calc(100% - var(--side-padding-tab) * 2);
        padding-right: var(--side-padding-tab);
        padding-left: var(--side-padding-tab);
    }

    /* ユーザーの声 */
    .users-voice-itemwrapper {
        padding: 0 var(--side-padding-tab);
    }
    .user-voice-item {
        min-width: 300px;
        height: 240px;
    }
    .user-voice-item__bodytext {
        font-size: var(--fontsize-base);
    }

    /* 機能一覧 */
    .functions-container {
        gap: var(--spacing-medium);
    }
    .function-item {
        min-width: calc((100% - var(--side-padding-tab)) / 2);
    }
    .function-item__icon {
        width: 64px;
        height: 64px;
    }

    /* プライバシー */
    .security-container {
        flex-direction: row;
        gap: var(--spacing-large);
    }
    .security-item {
        width: calc(50% - var(--spacing-large));
        padding: var(--spacing-large);
        gap: var(--spacing-large);
    }
    .security-item__image {
        width: 120px;
        height: 120px;
    }

    /* プラン */
    .plan-container {
        flex-direction: row;
        gap: var(--spacing-large);
    }
    .plan-item {
        width: calc((100% - var(--spacing-large)) / 2);
    }
}

@media screen and (min-width: 1081px){

    body {
        font-size: var(--fontsize-medium);
    }

    .section-heading {
        font-size: var(--textsize-heading-pc);
    }

    .contents-container {
        gap: var(--spacing-2xlarge);
        padding: var(--spacing-2xlarge) 0;
    }
    .contents-container--spacing {
        width: 1080px;
    }

    /* ユーザーの声 */
    .users-voice-itemwrapper {
        padding: 0 calc((100% - 1080px) / 2);
    }
    .user-voice-item {
        min-width: 300px;
        height: 240px;
    }
    .user-voice-item__bodytext {
        font-size: var(--fontsize-base);
    }

    /* 機能一覧 */
    .functions-container {
        gap: var(--spacing-xlarge);
    }
    .function-item {
        min-width: calc((1080px - var(--spacing-xlarge) * 2) / 3);
    }
    .function-item__icon {
        width: 64px;
        height: 64px;
    }

    /* プライバシー */
    .security-container {
        flex-direction: row;
        gap: var(--spacing-large);
    }
    .security-item {
        width: calc((1080px - var(--spacing-medium)) / 2);
        padding: var(--spacing-large);
        gap: var(--spacing-large);
    }
    .security-item__image {
        width: 140px;
        height: 140px;
    }

    /* プラン */
    .switchbox {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .plan-container {
        flex-direction: row;
        gap: var(--spacing-xlarge);
    }
    .plan-item {
        width: calc((1080px - var(--spacing-xlarge)) / 2);
    }
}